<footer class="site-footer">

  <div class="container">

    <div class="row">

        <div class="col-md-4">
          <ul class="contact-list">
            <li>{{ site.title }}</li>
            <li>{{ site.email | replace:'@',' [at] ' }}</li>
          </ul>
        </div>

        <div class="col-md-4 row">
          <div class="col-sm-3">
            <a href="{{ site.data.images.snapchat.url }}">
              <img class="img-rounded" rel="me" src="{{ site.data.images.snapchat.data  }}" />
            </a>
          </div>

          <div class="col-sm-3">
            <a href="{{ site.data.images.tweeter.url }}">
              <img class="img-rounded" rel="me" src="{{ site.data.images.tweeter.data  }}" />
            </a>
              
          </div>
          <div class="col-sm-3">
              <a href="{{ site.data.images.github.url }}">
                <img class="img-rounded" rel="me" src="{{ site.data.images.github.data  }}" />
              </a>
          </div>
          
          <div class="col-sm-3">
              <a href="{{ site.data.images.rss.url }}">
                <img class="img-rounded" rel="me" src="{{ site.data.images.rss.data  }}" />
              </a>
          </div>
        </div>

        <div class="col-md-4">
          <p class="text">{{ site.description }}</p>
        </div>

    </div>

  </div>

</footer>
