<footer class="site-footer">

  <div class="container">

    <div class="row">

        <div class="col-md-4">
          <ul class="contact-list">
            <li>{{ site.title }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="social-media-list">
            <li>
              <a href="https://github.com/vircung">
                <i class="fa fa-github-square fa-fw fa-2x"></i>
              </a>
              <a href="https://twitter.com/vircung">
                <i class="fa fa-twitter-square fa-fw fa-2x"></i>
              </a>
              <a href="https://plus.google.com/+JacekNakonieczny">
                <i class="fa fa-google-plus-square fa-fw fa-2x"></i>
              </a>
              <a href="https://www.linkedin.com/in/jaceknakonieczny">
                <i class="fa fa-linkedin-square fa-fw fa-2x"></i>
              </a>
              <a href="https://flickr.com/vircung">
                <i class="fa fa-flickr fa-fw fa-2x"></i>
              </a>
              <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <i class="fa fa-rss-square fa-fw fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <p class="text">{{ site.description }}</p>
        </div>

    </div>

  </div>

</footer>
