<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <nav class="site-nav">

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>

      <div class="pull-right">
        <a class="navbar-link" href="https://github.com/vircung/vircung.github.io/tree/master/{{ page.path }}">Improve this page <i class="fa fa-pencil"></i></a> 
      </div>
    </nav>

  </div>

</nav>
