<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
  
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">Vircung</a>
    </div>

    <ul class="nav navbar-nav">
      {% for page in site.pages %}
        {% if page.title %}
        <li>
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="https://github.com/vircung/vircung.github.io/tree/master/{{ page.path }}">Improve <i class="fa fa-pencil"></i></a>   
      </li>
    </ul>

  </div>
</nav>
