<div class="row text-center">
  <div class="col-sm-4">
    {% if page.previous.url %}
      <a href="{{ page.previous.url }}" title="{{ page.previous.title }}" class="btn btn-default">
        <i class="far fa-arrow-left"></i>
        {{ page.previous.title }}
      </a>
    {% endif %}
  </div>


  <div class="col-sm-4">
    <a class="btn btn-default" href="https://github.com/vircung/vircung.github.io/tree/master/{{ page.path }}">
      Help improve this page
      <i class="far fa-pencil"></i>
    </a>
  </div>

  <div class="col-sm-4">
    {% if page.next.url %}
      <a href="{{ page.next.url }}" title="{{ page.next.title }}" class="btn btn-default">
        {{ page.next.title }}
        <i class="far fa-arrow-right"></i>
      </a>
    {% endif %}
  </div>
</div>