{% if paginator.total_pages > 1 %}
  <div class="row text-center">
    <div class="col-xs-6">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="btn btn-default">
          <i class="fa fa-arrow-left"></i>
          More recent posts
        </a>
      {% endif %}
    </div>

    <div class="col-xs-4">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="btn btn-default">
          Older posts
          <i class="fa fa-arrow-right"></i>
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}