---
layout: default
---
{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}

{% if page.cover %}
  <aside class="post-cover lazy" data-src="{{ page.cover }}"></aside>
{% endif %}

<div class="container">
  <header class="page-header">
    <h1 class="">
      {{ page.title }}
    </h1>
      <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>,
      <span class="post-meta reading-time">{{minutes}} minute read</span>
  </header>

  <article class="text-justify">
    {{ content }}
  </article>

  {% include pagination.html %}

  {% include share-page.html %}

  {% include disqus.html %}
</div>
