---
layout: default
---

{% if page.cover %}
  <aside class="index-cover img-responsive" style="background-image: url({{ page.cover }});height: 512px;"></aside>
{% endif %}

<div class="container">
  <header>
    <span class="pull-right">{{ page.date | date: "%b %-d, %Y" }}</span>
    <h1 class="page-header clearfix">
      {{ page.title }}
    </h1>
  </header>

  <article class="text-justify">
    {{ content }}
  </article>

  {% include pagination.html %}

  {% include share-page.html %}

  {% include disqus.html %}
</div>
